<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sodas</title>
    <style>
        body {
            font-family: monospace;
        }

        .app {
            display: flex;
            column-gap: 20px;
        }

        fieldset {
            padding: 10px;
        }

        legend {
            font-size: 20px;
            padding: 10px;
        }

        li {
            display: flex;
            margin-bottom: 10px;
        }

        ul {
            padding: 0;
            margin: 0;
        }

        span {
            display: block;
        }

        .id {
            width: 50px;
        }

        .title {
            width: 150px;
        }

        .height {
            width: 50px;
        }

        .type {
            width: 100px;
        }

        li label {
            width: 100px;
        }

        li select,
        li input {
            width: 120px;
        }

        li.sort {
            margin-top: 30px;
        }

        li.sort label {
            width: 150px;
        }

        li a {
            margin-left: 30px;
        }
    </style>
</head>

<body>
    <section class="app">
        <fieldset>
            <legend>Sąrašas</legend>
            <ul>
                <li>
                    <span class="id">ID</span>
                    <span class="title">Title</span>
                    <span class="height">Height</span>
                    <span class="type">Type</span>
                </li>
                {{#each trees}}
                <li>
                    <span class="id">{{this.id}} </span>
                    <span class="title">{{this.title}} </span>
                    <span class="height">{{this.height}}</span>
                    <span class="type">{{this.type}}</span>
                </li>
                {{/each}}

                <form method="get" action="http://localhost:3000/">

                    <li class="sort">
                        <label>Rūšiuoti pagal:</label>
                        <select name="sort">
                            <option value="id-asc">ID 0-9</option>
                            <option value="id-desc">ID 9-0</option>
                            <option value="height-asc">Aukštis 0-9</option>
                            <option value="height-desc">Aukštis 9-0</option>
                            <option value="title-asc">Pavadinimas A-Z</option>
                            <option value="title-desc">Pavadinimas Z-A</option>
                        </select>
                    </li>
                    <li>
                        <button type="submit">Rūšiuoti</button>
                        <a href="http://localhost:3000/">Išvalyti rūšiavimą</a>
                    </li>

                </form>

            </ul>

        </fieldset>

        <fieldset>
            <legend>Statistika</legend>
            <ul>
                <li>Viso augalų: {{count}}</li>
                <li>Bendras aukštis: {{sum}}</li>
                <li>Aukščio vidurkis: {{average}}</li>
                <li>Mažiausias augalas: {{min}}</li>
                <li>Didžiausias augalas: {{max}}</li>
            </ul>
        </fieldset>

        <fieldset>
            <legend>Sodinti</legend>
            <form method="post" action="http://localhost:3000/plant">
                <ul>
                    <li class="input">
                        <label>Pavadinimas</label>
                        <input type="text" name="title">
                    </li>
                    <li class="input">
                        <label>Aukštis</label>
                        <input type="text" name="height">
                    </li>
                    <li class="input">
                        <label>Tipas</label>
                        <select name="type">
                            <option value="Lapuotis">Lapuotis</option>
                            <option value="Spygliuotis">Spygliuotis</option>
                            <option value="Palmė">Palmė</option>
                        </select>
                    </li>
                    <li class="input">
                        <button type="submit">Pasodinti</button>
                    </li>
                </ul>
            </form>
        </fieldset>



        <fieldset>
            <legend>Kirsti</legend>
            <form method="post" action="http://localhost:3000/cut">
                <ul>
                    <li class="input">
                        <label>ID</label>
                        <input type="text" name="id">
                    </li>
                    <li class="input">
                        <button type="submit">Nukirsti</button>
                    </li>
                </ul>
            </form>
        </fieldset>

        <fieldset>
            <legend>Laistyti</legend>
            <form method="post" action="http://localhost:3000/water">
                <ul>
                    <li class="input">
                        <label>ID</label>
                        <input type="text" name="id">
                    </li>
                    <li class="input">
                        <label>Aukštis</label>
                        <input type="text" name="height">
                    </li>
                    <li class="input">
                        <button type="submit">Laistyti</button>
                    </li>
                </ul>
            </form>
        </fieldset>
    </section>
</body>

</html>